version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: myportfolio_db
    environment:
      POSTGRES_USER: myportfolio_user
      POSTGRES_PASSWORD: portfolio_pass
      POSTGRES_DB: myportfolio
    ports:
     - "5430:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data   
    restart: unless-stopped

volumes:
  postgres_data:


  

  